*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
}

/* Loader */

#loader{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:#000;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:99999;
}

.loader-logo{
width:140px;
animation:spin 2s linear infinite;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

#loader h1{
color:red;
margin-top:20px;
font-size:45px;
text-shadow:0 0 20px red;
}

#loader p{
margin-top:10px;
color:white;
}

/* Announcement */

#announcement{
background:red;
color:white;
padding:12px;
font-weight:bold;
text-align:center;
position:sticky;
top:0;
z-index:999;
animation:blink 2s infinite;
}

@keyframes blink{

50%{
opacity:.5;
}

}

/* Scrollbar */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:red;
border-radius:10px;
}

/* Card Animation */

.card{
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px red;
}

/* Buttons */

.btn{
transition:.4s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 20px red;
}
